@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @{
        ViewBag.Username = @HttpContextAccessor.HttpContext.Session.GetString("Username");
        if (ViewBag.Username != null)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom box-shadow mb-3">
                
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Index" style="font-family:'Times New Roman', Times, serif">Banking Application</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Index" style="font-family:'Times New Roman', Times, serif">Account_Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="NewTransactions" asp-action="Index" style="font-family:'Times New Roman', Times, serif">New_Transaction</a>
                            </li>
                        </ul>
                    </div>
                   
                </div>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"style="font-family:'Times New Roman', Times, serif">Hello @ViewBag.UserName!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-action="logout" asp-controller="Login">
                    <button type="submit" class="nav-link btn btn-link text-dark"style="font-family:'Times New Roman', Times, serif">Logout</button>
                </form>
            </li>
            </nav>
        }
        else
        {
            <nav class="navbar navbar-expand-sm bg-transparent">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-action="Register" asp-controller="Login"style="font-family:'Times New Roman', Times, serif">Register</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login"style="font-family:'Times New Roman', Times, serif">Login</a>
                    </li>
                </ul>
            </nav>
            
        }
    }
</ul>
