@model EntityFramewor_MVC.Models.LoginCredential

@{
    ViewData["Title"] = "Login";
}

<h1 class="text-light" style="font-family:'Times New Roman', Times, serif">Welcome to Online Banking!!</h1>

<h1 class="text-light" style="font-family:'Times New Roman', Times, serif">Login </h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginUser" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label text-light"style="font-family:'Times New Roman', Times, serif"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord" class="control-label text-light" style="font-family:'Times New Roman', Times, serif" ></label>
                <input asp-for="PassWord" class="form-control" type="password" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
